$teal-700: #0e4a41;
$teal-500: #146a5d;
$teal-300: #5b978e;
$teal-100: #b9d2ce;
$blue-700: #152a4e;
$blue-500: #1e3c70;
$blue-300: #62779b;
$blue-100: #bcc5d4;
$black-700: #5a5a5a;
$black-500: #808080;
$black-300: #a6a6a6;
$black-200: #c0c0c0;
$black-100: #d9d9d9;
$black-050: #f2f2f2;
$yellow-700: #ae8916;
$yellow-500: #f8c41f;
$yellow-300: #fad662;
$yellow-100: #fdedbc;
$red-700: #7d0000;
$red-500: #b20000;
$red-300: #c94d4d;
$red-100: #e8b3b3;
$color-white: #ffffff;
$color-base: #404040;
$color-black: #000000;
$color-gray: #5a5a5a;
$color-gray-dark: #404040;
$color-gray-darker: #262626;
$color-gray-medium: #737373;
$color-gray-light: #c0c0c0;
$color-gray-lighter: #d9d9d9;
$color-gray-lightest: #f2f2f2;
$color-gray-warm-dark: #5a5a5a;
$color-gray-warm-light: #f2f2f2;
$color-gray-cool-light: #e6f1f8;
$color-primary: #146a5d;
$color-primary-light: #5b978e;
$color-primary-lightest: #b9d2ce;
$color-primary-dark: #0e4a41;
$color-primary-darker: #00395e;
$color-primary-darkest: #002238;
$color-primary-alt: #1e3c70;
$color-primary-alt-dark: #152a4e;
$color-primary-alt-darker: #0f1e38;
$color-primary-alt-darkest: #013945;
$color-primary-alt-light: #81dff3;
$color-primary-alt-lightest: #e6f9fd;
$color-secondary: #1e3c70;
$color-secondary-dark: #1e3c70;
$color-secondary-darker: #1b3665;
$color-secondary-darkest: #152a4e;
$color-secondary-light: #62779b;
$color-secondary-lightest: #bcc5d4;
$color-red: #e31c3d;
$color-red-dark: #cc1937;
$color-red-darker: #9f142b;
$color-red-darkest: #720e1f;
$color-red-light: #e63350;
$color-red-lighter: #f18e9e;
$color-red-lightest: #fce8ec;
$color-gold: #f8c41f;
$color-gold-dark: #dfb01c;
$color-gold-darker: #ae8916;
$color-gold-darkest: #7c6210;
$color-gold-light: #f9ca35;
$color-gold-lighter: #fce28f;
$color-gold-lightest: #fef9e9;
$color-green: #12890e;
$color-green-dark: #107b0d;
$color-green-darker: #0d600a;
$color-green-darkest: #094507;
$color-green-light: #2a9526;
$color-green-lighter: #89c487;
$color-green-lightest: #e7f3e7;
$color-cool-blue: #2b6891;
$color-cool-blue-light: #3e94cf;
$color-cool-blue-lighter: #78b4dd;
$color-cool-blue-lightest: #ecf4fa;
$color-muted-inverse: #c0c0c0;
$color-focus: #3e94cf;
$color-focus-inverse: #4ed2ee;
$focus-color: #fad662;
$focus-color-inverse: #fad662;
$focus-border-inverse: #7c6210;
$color-focus-light: #ffffff;
$color-focus-dark: #bd13b8;
$color-visited: #590000;
$color-error: #b20000;
$color-error-dark: #a00000;
$color-error-darker: #7d0000;
$color-error-darkest: #590000;
$color-error-light: #ba1a1a;
$color-error-lighter: #d98080;
$color-error-lightest: #f7e6e6;
$color-warn: #f8c41f;
$color-warn-dark: #dfb01c;
$color-warn-darker: #ae8916;
$color-warn-darkest: #7c6210;
$color-warn-light: #f9ca35;
$color-warn-lighter: #fce28f;
$color-warn-lightest: #fef9e9;
$color-success: #12890e;
$color-success-dark: #107b0d;
$color-success-darker: #0d600a;
$color-success-darkest: #094507;
$color-success-light: #2a9526;
$color-success-lighter: #89c487;
$color-success-lightest: #e7f3e7;
$color-muted: #5a5a5a;
$color-base-inverse: #ffffff;
$color-background: #ffffff;
$color-background-inverse: #146a5d;
$color-background-dialog: #ffffff;
$border-color: #d9d9d9;
$border-color-dark: #404040;
$border-color-inverse: #ffffff;
$card-box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.23);
