$animation-ease-in-out-expo: cubic-bezier(1, 0, 0, 1) !default;
$animation-speed-base: 1 !default;
$animation-speed-1: 0.25s !default;
$animation-speed-2: 0.3s !default;
$animation-speed-3: 0.5s !default;
$animation-speed-4: 0.8s !default;
$color-white: #ffffff !default;
$color-black: #000000 !default;
$color-transparent: #ffffff00 !default;
$color-transparent-black-alpha50: #00000080 !default;
$color-transparent-black-alpha25: #00000040 !default;
$color-transparent-white-alpha50: #ffffff80 !default;
$color-transparent-white-alpha25: #ffffff40 !default;
$color-background: #ffffff !default;
$color-background-dialog: #ffffff !default;
$color-background-dialog-mask: #00000080 !default;
$color-background-inverse: #146a5d !default;
$color-base: #404040 !default;
$color-base-inverse: #ffffff !default;
$color-border: #d9d9d9 !default;
$color-border-dark: #0f1e38 !default;
$color-border-inverse: #ffffff !default;
$color-coolblue: #045d83 !default;
$color-coolblue-light: #046791 !default;
$color-coolblue-lighter: #82b3c8 !default;
$color-coolblue-lightest: #e6f0f4 !default;
$color-error: #b20000 !default;
$color-error-dark: #a00000 !default;
$color-error-darker: #9f142b !default;
$color-error-darkest: #720e1f !default;
$color-error-light: #e8b3b3 !default;
$color-error-lighter: #f7bbc5 !default;
$color-error-lightest: #f7e6e6 !default;
$color-focus: #c97532 !default;
$color-focus-border-inverse: #7c6210 !default;
$color-focus-dark: #c97532 !default;
$color-focus-inverse: #02bfe7 !default;
$color-focus-light: #ffffff !default;
$color-focus-shadow: #262626 !default;
$color-focus-shadow-inverse: #262626 !default;
$color-focus-shadow-link: #262626 !default;
$color-focus-shadow-link-inverse: #7c6210 !default;
$color-gold: #f8c41f !default;
$color-gold-dark: #dfb01c !default;
$color-gold-darker: #ae8916 !default;
$color-gold-darkest: #7c6210 !default;
$color-gold-light: #f9ca35 !default;
$color-gold-lighter: #fce28f !default;
$color-gold-lightest: #fef9e9 !default;
$color-gray: #5a5a5a !default;
$color-gray-cool-light: #e6f1f8 !default;
$color-gray-dark: #404040 !default;
$color-gray-darker: #262626 !default;
$color-gray-light: #737373 !default;
$color-gray-lighter: #d9d9d9 !default;
$color-gray-lightest: #f2f2f2 !default;
$color-gray-medium-light: #a6a6a6 !default;
$color-gray-medium: #737373 !default;
$color-gray-warm-dark: #404040 !default;
$color-gray-warm-light: #f2f2f2 !default;
$color-green: #12890e !default;
$color-green-dark: #0d600a !default;
$color-green-darker: #0d600a !default;
$color-green-darkest: #094507 !default;
$color-green-light: #0d600a !default;
$color-green-lighter: #b8dcb7 !default;
$color-green-lightest: #e7f3e7 !default;
$color-muted: #5a5a5a !default;
$color-muted-inverse: #e9ecf1 !default;
$color-primary: #146a5d !default;
$color-primary-dark: #125f54 !default;
$color-primary-darker: #0e4a41 !default;
$color-primary-darkest: #0a352f !default;
$color-primary-light: #5b978e !default;
$color-primary-lightest: #b9d2ce !default;
$color-primary-alt: #1e3c70 !default;
$color-primary-alt-dark: #1b3665 !default;
$color-primary-alt-darker: #152a4e !default;
$color-primary-alt-darkest: #0f1e38 !default;
$color-primary-alt-light: #62779b !default;
$color-primary-alt-lightest: #e9ecf1 !default;
$color-red: #e31c3d !default;
$color-red-dark: #cc1937 !default;
$color-red-darker: #9f142b !default;
$color-red-darkest: #720e1f !default;
$color-red-light: #f18e9e !default;
$color-red-lighter: #f7bbc5 !default;
$color-red-lightest: #fce8ec !default;
$color-secondary: #1e3c70 !default;
$color-secondary-dark: #1b3665 !default;
$color-secondary-darker: #152a4e !default;
$color-secondary-darkest: #0f1e38 !default;
$color-secondary-light: #62779b !default;
$color-secondary-lighter: #bcc5d4 !default;
$color-secondary-lightest: #e9ecf1 !default;
$color-success: #12890e !default;
$color-success-dark: #107b0d !default;
$color-success-darker: #0d600a !default;
$color-success-darkest: #094507 !default;
$color-success-light: #2a9526 !default;
$color-success-lighter: #89c487 !default;
$color-success-lightest: #e7f3e7 !default;
$color-warn: #f8c41f !default;
$color-warn-dark: #dfb01c !default;
$color-warn-darker: #ae8916 !default;
$color-warn-darkest: #7c6210 !default;
$color-warn-light: #fad662 !default;
$color-warn-lighter: #fce28f !default;
$color-warn-lightest: #fef9e9 !default;
$color-visited: #590000 !default;
$color-teal-700: #0e4a41 !default;
$color-teal-500: #146a5d !default;
$color-teal-300: #5b978e !default;
$color-teal-100: #b9d2ce !default;
$color-blue-700: #152a4e !default;
$color-blue-500: #1e3c70 !default;
$color-blue-300: #62779b !default;
$color-blue-100: #bcc5d4 !default;
$color-green-700: #0d600a !default;
$color-green-500: #12890e !default;
$color-green-300: #b8dcb7 !default;
$color-green-100: #e7f3e7 !default;
$color-black-700: #262626 !default;
$color-black-500: #404040 !default;
$color-black-300: #5a5a5a !default;
$color-black-200: #737373 !default;
$color-black-100: #d9d9d9 !default;
$color-black-50: #f2f2f2 !default;
$color-yellow-700: #dfb01c !default;
$color-yellow-500: #f8c41f !default;
$color-yellow-300: #fad662 !default;
$color-yellow-100: #fef9e9 !default;
$color-red-700: #a00000 !default;
$color-red-500: #b20000 !default;
$color-red-300: #e8b3b3 !default;
$color-red-100: #f7e6e6 !default;
$font-sans: 'Rubik', sans-serif !default;
$font-montserrat: 'Montserrat', sans-serif !default;
$font-rubik: 'Rubik', sans-serif !default;
$font-family-open-sans: 'Open Sans', Helvetica, sans-serif !default;
$font-family-rubik: 'Rubik', sans-serif !default;
$font-family-montserrat: 'Montserrat', sans-serif !default;
$font-family-bitter: Bitter, Georgia, serif !default;
$font-size-base: 16px !default;
$font-size-sm: 14px !default;
$font-size-md: 16px !default;
$font-size-lg: 18px !default;
$font-size-xl: 21px !default;
$font-size-2xl: 24px !default;
$font-size-3xl: 36px !default;
$font-size-4xl: 48px !default;
$font-size-5xl: 60px !default;
$font-line-height-reset: 1 !default;
$font-line-height-base: 1.5 !default;
$font-line-height-heading: 1.3 !default;
$font-line-height-lead: 1.7 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;
$measure-narrow: 45ex !default;
$measure-base: 65ex !default;
$measure-wide: 80ex !default;
$media-width-xs: 0px !default;
$media-width-sm: 544px !default;
$media-width-md: 768px !default;
$media-width-lg: 1024px !default;
$media-width-xl: 1280px !default;
$radius-circle: 100% !default;
$radius-default: 3px !default;
$radius-large: 8px !default;
$radius-medium: 4px !default;
$radius-pill: 9999px !default;
$radius-small: 2px !default;
$shadow-box-card: 0 2px 3px 0 rgba(50, 50, 50, 0.23) !default;
$spacer-1: 8px !default;
$spacer-2: 16px !default;
$spacer-3: 24px !default;
$spacer-4: 32px !default;
$spacer-5: 40px !default;
$spacer-6: 48px !default;
$spacer-7: 56px !default;
$spacer-none: 0px !default;
$spacer-half: 4px !default;
$z-deep: -99999 !default;
$z-default: 1 !default;
$z-drawer: 500 !default;
$z-dialog: 1000 !default;
$z-popup: 6000 !default;
$z-spinner: 9050 !default;
